.git
.gitignore
.env
.env.*
!.env.example

.venv/
venv/
env/
ENV/

**/__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/

.idea/
.vscode/
*.swp
*.swo
.DS_Store

tests/
migrations/
scripts/
.coverage
coverage.xml
coverage.svg
test-results.xml
htmlcov/
*.log
*.tmp
*.egg-info/
